body {
    margin:0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color:#27847E;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    word-break: break-word;
} 

.title {
    align-self:flex-start;
    padding: 50px 0 0 60px;
    width: 100%;
    font-size: 80px;
    font-weight: 900;
    color: rgb(0,0,0,0.1);
    background: #27847E;
    letter-spacing: 1px;
    margin: -5px 0 8px
  
}

.row.header {
    background: #27847E;
    height: 20px;
    width: 100%;
}

.all-tasks {
    border-radius: 10px 0 0 10px;
    border-right: 3px solid #D4F2EF;
    background: white;
}

.todo-list {
    background-color: white;
    border-radius: 0 20px 20px 0;
    border: 4px dashed #D4F2EF;
}

.container-fluid {
    padding: 50px 40px;
}

li {
    opacity: .5;
}

li:hover {
    opacity: 1;
    cursor: pointer;
}

span {
    display: inline-block;
    padding: 5px;
}

.active-list {
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 30px;
    list-style: disc;
    opacity: initial;
}

.task-list {
    font-size: 18px;
    list-style: circle;
    padding-left: 20px;
}



form {
    display:flex;
    padding-bottom: 80px;
}

.btn {
    cursor: pointer;
    background:0;
    border:0;
    padding:0;
    color: inherit;
}

.btn.create {
    font-size: 20px;
    font-weight: 900;
    margin-right: 4px;
    transition: opacity 250ms ease-in;
}

.btn.create:hover {
    opacity: 0.7;
}

.btn.delete {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    background: #27847E;
    color: white;
    padding: 5px;
}

.btn.delete:hover {
    color:rgb(194, 194, 238);
}

.new {
    background: transparent;
    border: 0;
    width:90%;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size:20px;
    outline: none;
    padding: 4px;
    transition: border-bottom 150ms ease-in;
    order: 2;
    /* possibly keep the outline and change the color, reverse the button order so its at the end*/
}

.new::placeholder {
    opacity: 0.3;
}

.new:focus {
    border-bottom-width: 3px;
}

.new.task {
    margin-bottom: 0;
}

.todo-header {
    padding: 13px;
    border-radius: 20px;
    background: #27847E;
    color: white;
    text-align: center;
}

.list-title {
    margin: 0 15px 0 0;
    font-size: 50px;
}

.task-count {
    margin:0;
    font-size: 15px;
}

.todo-body {
    padding: 32px;
    position: relative;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.task {
    position: relative;
}

.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 12px;
    height: 1.5px;
    background: currentColor;
    opacity: 0.3;
}

.custom-checkbox {
    display:inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    margin-right: 12px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox, [type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
    color:#27847E;
}

[type="checkbox"]:checked + label .custom-checkbox {
    transform: scale(1.2);
    margin-right: 12px;
    background: #27847E;
    border: 2px solid #27847E;
    box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}

.task label::after {
    content: "";
    position: absolute;
    right: 0;
    left: 25px;
    top: 50%;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}


.delete-task  {
    display:flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
}
