* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #dadfea;
    color:rgb(70, 70, 172);
}

header {
    font-size: 30px;
}

header,form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 10px;
    font-size: 2rem;
    border: none;
    background-color: white;
}

form button {
    color:cadetblue;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background-color:cadetblue;
    color: white;
}