body {
    margin:0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: #dadfea;
    color:rgb(70, 70, 172);
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    /* grid:
        "header header header header" auto
        "...... lists  active ......" auto /
        1fr minmax(100px,300px) minmax(250px,500px) 1fr; */
    /*Possible replace grid with flexbox*/
} 

.container {
    display:flex;
    width:80%;
    flex-wrap:wrap;
}

.title {
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: rgb(0,0,0,0.1);
    letter-spacing: 1px;
    margin: -.3em 0 0.5em
}

.all-tasks {
    flex-grow: 1;
}

.task-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
}

form {
    display:flex;
}

.btn {
    cursor: pointer;
    background:0;
    border:0;
    padding:0;
    color: inherit;
}

.btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}

.btn.create:hover {
    opacity: 0.7;
}

.btn.delete {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
}

.btn.delete:hover {
    color:rgb(194, 194, 238);
}

.new {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size:inherit;
    outline: none;
    padding: 0.25em;
    transition: border-bottom 150ms ease-in;
    order: 2;
    /* possibly keep the outline and change the color, reverse the button order so its at the end*/
}

.new::placeholder {
    opacity: 0.3;
}

.new:focus {
    border-bottom-width: 3px;
}

.new:focus::placeholder {
    opacity: 0.15;
    /* take off opacity */
}

/* edit the new task to make the width and spacing look not small */
.new.list {
    font-size:1.1rem;
}

.new.task {
    margin-bottom: 0;
}

.active-list {
    font-size: 40px;
    transition: font-size 300ms ease-in;
}

.todo-list {
    flex-grow:2;
    background: white;
    /* background: (match color to our scheme);
    color: (match color to our scheme); */
    /* figure out what would happen if I corrected that */
}

.todo-header {
    padding: 2rem;
    background: #adaeb186;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.list-title {
    margin: 0 1rem 0 0;
}

.task-count {
    margin:0;
    font-size: 1rem;
}

.todo-body {
    padding: 2rem;
    position: relative;
}

/* use this line to edit the font awesome size and dimensions*/

/* Possibly eliminate custom checkbox try to keep when its checked a line goes through */

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.25em;
}

.task {
    position: relative;
}

.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 12px;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
}

.custom-checkbox {
    display:inline-block;
    width: .75rem;
    height: .75rem;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    margin-right: .75rem;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox, [type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
    color:rgb(194, 194, 238);
}

[type="checkbox"]:checked + label .custom-checkbox {
    transform: scale(1.2);
    margin-right: .75rem;
    background: rgb(70, 70, 172);
    border: 2px solid rgb(70, 70, 172);
    box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}

.task label::after {
    content: "";
    position: absolute;
    right: 0;
    left: 1.20em;
    top: 50%;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}


.delete-task  {
    display:flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
}

